[Desktop Entry]
Name=VeneraNas
GenericName=VeneraNas
Comment=VeneraNas
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;comic;images;
Icon=venera